{{ define "expenses" }}
<div class="main-content-title-div">
    <img class="main-content-title-icon" src="static/images/expense-icon.png" alt="the main icon">
    <h3>Expenses</h3>
</div>
<div id="hub-main-div">
    <div class="hub-item">
        <p class="hub-item-title">Expenses</p>
        <img class="hub-item-image" src="static/images/expense-icon.png" alt="main image">
    </div>
    <div class="hub-item">
        <p class="hub-item-title">Health</p>
        <img class="hub-item-image" src="static/images/health-icon.jpg" alt="main image">
    </div>
</div>
{{ end }}