{{ define "expenses" }}
<div class="main-content-title-div">
    <img class="main-content-title-icon" src="static/images/expense-icon.png" alt="the main icon">
    <h3>Expenses</h3>
</div>
<div id="hub-main-div">
    <div class="hub-item">
        <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
        <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

        <!-- <script type="module" src="dimensions.js"></script> -->
        <script type="module" src="static/js/acquisitions.js"></script>
    </div>
</div>
{{ end }}