{{ define "expenses" }}
<div class="main-content-title-div">
    <img class="main-content-title-icon" src="static/images/expense-icon.png" alt="the main icon">
    <h3>Expenses</h3>
</div>
<div id="expense-main-container">
    <div id="total-spent-container">
        <p id="total-spent-amount">$5324.11</p>
        <p id="total-spent-title">Total Expenses</p>
    </div>
    <div id="expense-bar-chart-container">
        <canvas id="expenses-canvas"></canvas>
    </div>
    <div id="expense-table">
        <p>I'm the expense table</p>
    </div>
    <script src="/static/js/expenses.js"></script>
</div>
{{ end }}