{{ define "hub" }}
<div id="hub-main-div">
    <div class="hub-item">
        <div class="hub-item-banner">
            <img class="hub-item-banner-icon" src="" alt="icon of a thing">
            <p class="hub-item-title">Expenses</p>
        </div>
        <img class="hub-item-image" src="" alt="main image">
        <p class="hub-item-description">
            This dasboard shows all expenses.
        </p>
    </div>
    <div class="hub-item">
        <div class="hub-item-banner">
            <img class="hub-item-banner-icon" src="" alt="icon of a thing">
            <p class="hub-item-title">Health</p>
        </div>
        <img class="hub-item-image" src="" alt="main image">
        <p class="hub-item-description">
            This dasboard shows all health related info.
        </p>
    </div>
</div>
{{ end }}