{{ define "hub" }}
<div class="main-content-title-div">
    <img class="main-content-title-icon" src="static/images/tile-icon.png" alt="the main icon">
    <h3>Dashboards</h3>
</div>
<div id="hub-main-div">
    <div class="hub-item">
        <img class="hub-item-image" src="static/images/expense-icon.png" alt="main image">
        <p class="hub-item-title">Expenses</p>
    </div>
    <div class="hub-item">
        <img class="hub-item-image" src="static/images/health-icon.jpg" alt="main image">
        <p class="hub-item-title">Health</p>
    </div>
    <div class="hub-item">
        <img class="hub-item-image" src="static/images/exercise-icon.png" alt="main image">
        <p class="hub-item-title">Exercise</p>
    </div>
    <div class="hub-item">
        <img class="hub-item-image" src="static/images/diet-icon.png" alt="main image">
        <p class="hub-item-title">Diet</p>
    </div>
</div>
{{ end }}