{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/hub.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Life Dash</title>
</head>
<body>
    <nav id="index-nav">
        <div id="dashboard-title-div">
            <img id="dashboard-title-icon" src="static/images/dashboard-icon.png" alt="the main icon">
            <p id="dashboard-title">Life Dash</p>
        </div>
        <hr>
        <div class="nav-div active">
            <img class="nav-icon" src="static/images/tile-icon.png" alt="expese icon">
            <a class="nav-link active" href="/hub">Dashboards</a>
        </div>
        <div class="nav-div">
            <img class="nav-icon" src="static/images/expense-icon.png" alt="expese icon">
            <a class="nav-link" href="/expenses">Expenses</a>
        </div>
        <div class="nav-div">
            <img class="nav-icon" src="static/images/health-icon.jpg" alt="expese icon">
            <a class="nav-link" href="/health">Health</a>
        </div>
    </nav>
    <div id="main-content">
        {{ template "hub" . }}
    </div>
</body>
</html>
{{ end }}