{{ define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <title>Life Dash</title>
</head>
<body>
    <nav id="login-nav">
        <div id="title-logo-container">
            <img id="main-logo" src="static/images/dashboard-icon.png" alt="the main icon">
            <p id="main-title">Life Dash</p>
        </div>
    </nav>
    <div id="login-form-container">
        <form id="login-form" action="" method="post">
            <p id="login-form-title">Welcome Back</p>
            <label class="form-input-label" for="username-input">Username</label>
            <input class="form-input" id="username-input" type="text">
            <label class="form-input-label" for="password-input">Password</label>
            <input class="form-input" id="password-input" type="password">
            <button id="login-submit-button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
{{ end }}