a {
  all: unset;
  cursor: pointer;
}

p {
  all: unset;
}

div {
    all: unset;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto";
}

#login-nav {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    opacity: 0.8;
}

#title-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
}